.page{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.filter{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.btn{
    align-self: flex-end;
    margin: 2rem;
    border-radius: 0.5rem;
    background-color: #c69963;
    cursor: pointer;
    transition: .5s all;
    padding: 1.5rem 3rem;
    border: 0;
    color: #f9f7f6;
}
.btn:hover{
    background-color: #B28451;
}
.paginationButtons{
    margin-top: 1rem;
    width: 80%;
    height: 2rem;
    gap: 1rem;
    list-style: none;
    display: flex;
    justify-content: center;
}
.paginationButtons a{
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgb(47, 47, 185);
    color:rgb(47, 47, 185) ;
    cursor: pointer;
}
.paginationButtons a:hover{
    background-color: rgb(47, 47, 185);
    color: white;
}
.paginationActive a{
    background-color: rgb(47, 47, 185);
    color: white;
}