.field{
    display: flex;
    gap: 1rem;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(238, 231, 231);
    border: 3px solid black;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
}
label{
    font-size: 1.1rem;
}
.answers{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.answerBtn{
    align-self: flex-end;
    background-color: black;
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    padding: 1rem;
}
.bottomBtns{
    align-self: flex-end;
}
.formBtn{
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    margin: 1rem;
    padding: 1rem;
}
.green{
    background-color: rgb(105, 231, 105);
}
.error{
    color: red;
}