.question{
    font-size: 1.5rem;
}
.choice{
    display: flex;
    font-size: 1rem;

}
.answersShow{
    display: flex;
    flex-direction: column;
}
.horizontal{
    flex-direction: row;
    gap: 1rem;
}
.vertical{
    flex-direction: column;
}

.choiceContent p{
margin: 0;
}
.questionModel{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}