.field{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(238, 231, 231);
    border: 3px solid black;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
}
.questions{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.formBtn{
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    margin: 1rem;
    padding: 1rem;
}
